<a href="https://colab.research.google.com/github/noo-nine/Machine-Learning/blob/main/Classification_Trees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [55]:
from google.colab import files
uploaded = files.upload()

Saving heart_disease_uci.csv to heart_disease_uci (2).csv

In [57]:
heart = pd.read_csv('heart_disease_uci.csv')
heart.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [58]:
# dropping unnecessary columns
heart.drop(columns = ['id', 'dataset'], inplace = True)
heart.shape

(920, 14)

In [59]:
heart.columns = ['age', 'sex', 'cp', 'restbp', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'hd']

In [60]:
heart.duplicated().sum()

2

In [61]:
heart.drop_duplicates(inplace = True)

In [62]:
heart.shape

(918, 14)

In [14]:
heart.dtypes

age          int64
sex         object
cp          object
restbp     float64
chol       float64
fbs         object
restecg     object
thalach    float64
exang       object
oldpeak    float64
slope       object
ca         float64
thal        object
hd           int64
dtype: object

In [39]:
heart.isna().sum()

age          0
sex          0
cp           0
restbp      59
chol        29
fbs         90
restecg      2
thalach     55
exang       55
oldpeak     62
slope      307
ca         609
thal       484
hd           0
dtype: int64

In [63]:
cols_to_pass = ['age', 'sex', 'cp', 'restbp', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'hd']
for col in cols_to_pass:
  print(f'{col} : {heart[col].unique()}\n')

age : [63 67 37 41 56 62 57 53 44 52 48 54 49 64 58 60 50 66 43 40 69 59 42 55
 61 65 71 51 46 45 39 68 47 34 35 29 70 77 38 74 76 28 30 31 32 33 36 72
 73 75]

sex : ['Male' 'Female']

cp : ['typical angina' 'asymptomatic' 'non-anginal' 'atypical angina']

restbp : [145. 160. 120. 130. 140. 172. 150. 110. 132. 117. 135. 112. 105. 124.
 125. 142. 128. 170. 155. 104. 180. 138. 108. 134. 122. 115. 118. 100.
 200.  94. 165. 102. 152. 101. 126. 174. 148. 178. 158. 192. 129. 144.
 123. 136. 146. 106. 156. 154. 114. 164.  98. 190.  nan 113.  92.  95.
  80. 185. 116.   0.  96. 127.]

chol : [233. 286. 229. 250. 204. 236. 268. 354. 254. 203. 192. 294. 256. 263.
 199. 168. 239. 275. 266. 211. 283. 284. 224. 206. 219. 340. 226. 247.
 167. 230. 335. 234. 177. 276. 353. 243. 225. 302. 212. 330. 175. 417.
 197. 198. 290. 253. 172. 273. 213. 305. 216. 304. 188. 282. 185. 232.
 326. 231. 269. 267. 248. 360. 258. 308. 245. 270. 208. 264. 321. 274.
 325. 235. 257. 164. 141. 252. 255. 201. 222. 260. 182. 303. 265. 309.
 307. 249. 186. 341. 183. 407. 217. 288. 220. 209. 227. 261. 174. 281.
 221. 205. 240. 289. 318. 298. 564. 246. 322. 299. 300. 293. 277. 214.
 207. 223. 160. 394. 184. 315. 409. 244. 195. 196. 126. 313. 259. 200.
 262. 215. 228. 193. 271. 210. 327. 149. 295. 306. 178. 237. 218. 242.
 319. 166. 180. 311. 278. 342. 169. 187. 157. 176. 241. 131. 132.  nan
 161. 173. 194. 297. 292. 339. 147. 291. 358. 412. 238. 163. 280. 202.
 328. 129. 190. 179. 272. 100. 468. 320. 312. 171. 365. 344.  85. 347.
 251. 287. 156. 117. 466. 338. 529. 392. 329. 355. 603. 404. 518. 285.
 279. 388. 336. 491. 331. 393.   0. 153. 316. 458. 384. 349. 142. 181.
 310. 170. 369. 165. 337. 333. 139. 385.]

fbs : [True False nan]

restecg : ['lv hypertrophy' 'normal' 'st-t abnormality' nan]

thalach : [150. 108. 129. 187. 172. 178. 160. 163. 147. 155. 148. 153. 142. 173.
 162. 174. 168. 139. 171. 144. 132. 158. 114. 151. 161. 179. 120. 112.
 137. 157. 169. 165. 123. 128. 152. 140. 188. 109. 125. 131. 170. 113.
  99. 177. 141. 180. 111. 143. 182. 156. 115. 149. 145. 146. 175. 186.
 185. 159. 130. 190. 136.  97. 127. 154. 133. 126. 202. 103. 166. 164.
 184. 124. 122.  96. 138.  88. 105. 194. 195. 106. 167.  95. 192. 117.
 121. 116.  71. 118. 181. 134.  90.  98. 176. 135. 110.  nan 100.  87.
 102.  92.  91.  82. 119.  94. 104.  60.  83.  63.  70.  77.  72.  78.
  86.  93.  67.  84.  80. 107.  69.  73.]

exang : [False True nan]

oldpeak : [ 2.3  1.5  2.6  3.5  1.4  0.8  3.6  0.6  3.1  0.4  1.3  0.   0.5  1.6
  1.   1.2  0.2  1.8  3.2  2.4  2.   2.5  2.2  2.8  3.   3.4  6.2  4.
  5.6  2.9  0.1  2.1  1.9  4.2  0.9  1.1  3.8  0.7  0.3  4.4  5.   nan
 -1.1 -1.5 -0.1 -2.6 -0.7 -2.  -1.   1.7 -0.8 -0.5 -0.9  3.7]

slope : ['downsloping' 'flat' 'upsloping' nan]

ca : [ 0.  3.  2.  1. nan]

thal : ['fixed defect' 'normal' 'reversable defect' nan]

hd : [0 2 1 3 4]

In [19]:
heart.columns

Index(['age', 'sex', 'cp', 'restbp', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'hd'],
      dtype='object')

In [83]:
# removing the columns with more number of nan values
heart.drop(columns =[ 'fbs', 'slope', 'ca', 'thal'], inplace = True)

KeyError: "['fbs', 'slope', 'ca', 'thal'] not found in axis"

In [65]:
heart.isna().sum()

age         0
sex         0
cp          0
restbp     59
chol       29
restecg     2
thalach    55
exang      55
oldpeak    62
hd          0
dtype: int64

In [77]:
import numpy as np

heart_clean = heart[ (heart['restbp'].notna()) & (heart['chol'].notna()) & (heart['thalach'].notna()) & (heart['exang'].notna()) & (heart['oldpeak'].notna()) ]

In [78]:
heart_clean.isna().sum()

age        0
sex        0
cp         0
restbp     0
chol       0
restecg    2
thalach    0
exang      0
oldpeak    0
hd         0
dtype: int64

In [81]:
heart_clean.columns

Index(['age', 'sex', 'cp', 'restbp', 'chol', 'restecg', 'thalach', 'exang',
       'oldpeak', 'hd'],
      dtype='object')

In [84]:
cols_to_pass = ['age', 'sex', 'cp', 'restbp', 'chol', 'restecg', 'thalach', 'exang',
       'oldpeak', 'hd']
for col in cols_to_pass:
  print(f'{col} : {heart_clean[col].unique()}\n')

age : [63 67 37 41 56 62 57 53 44 52 48 54 49 64 58 60 50 66 43 40 69 59 42 55
 61 65 71 51 46 45 39 68 47 34 35 29 70 77 38 74 76 28 30 31 32 33 36 72
 73 75]

sex : ['Male' 'Female']

cp : ['typical angina' 'asymptomatic' 'non-anginal' 'atypical angina']

restbp : [145. 160. 120. 130. 140. 172. 150. 110. 132. 117. 135. 112. 105. 124.
 125. 142. 128. 170. 155. 104. 180. 138. 108. 134. 122. 115. 118. 100.
 200.  94. 165. 102. 152. 101. 126. 174. 148. 178. 158. 192. 129. 144.
 123. 136. 146. 106. 156. 154. 114. 164.  98. 190. 113.  92.  95.  80.
 185. 116.   0.  96. 127.]

chol : [233. 286. 229. 250. 204. 236. 268. 354. 254. 203. 192. 294. 256. 263.
 199. 168. 239. 275. 266. 211. 283. 284. 224. 206. 219. 340. 226. 247.
 167. 230. 335. 234. 177. 276. 353. 243. 225. 302. 212. 330. 175. 417.
 197. 198. 290. 253. 172. 273. 213. 305. 216. 304. 188. 282. 185. 232.
 326. 231. 269. 267. 248. 360. 258. 308. 245. 270. 208. 264. 321. 274.
 325. 235. 257. 164. 141. 252. 255. 201. 222. 260. 182. 303. 265. 309.
 307. 249. 186. 341. 183. 407. 217. 288. 220. 209. 227. 261. 174. 281.
 221. 205. 240. 289. 318. 298. 564. 246. 322. 299. 300. 293. 277. 214.
 207. 223. 160. 394. 184. 315. 409. 244. 195. 196. 126. 313. 259. 200.
 262. 215. 228. 193. 271. 210. 327. 149. 295. 306. 178. 237. 218. 242.
 319. 166. 180. 311. 278. 342. 169. 187. 157. 176. 241. 131. 132. 161.
 173. 194. 297. 292. 339. 147. 291. 358. 412. 238. 163. 280. 202. 328.
 129. 190. 179. 272. 100. 468. 320. 312. 171. 365. 344.  85. 347. 251.
 287. 156. 117. 466. 338. 529. 392. 329. 355. 603. 404. 518. 285. 279.
 388. 336. 491. 331. 393.   0. 153. 458. 384. 349. 310. 337. 170. 333.]

restecg : ['lv hypertrophy' 'normal' 'st-t abnormality' nan]

thalach : [150. 108. 129. 187. 172. 178. 160. 163. 147. 155. 148. 153. 142. 173.
 162. 174. 168. 139. 171. 144. 132. 158. 114. 151. 161. 179. 120. 112.
 137. 157. 169. 165. 123. 128. 152. 140. 188. 109. 125. 131. 170. 113.
  99. 177. 141. 180. 111. 143. 182. 156. 115. 149. 145. 146. 175. 186.
 185. 159. 130. 190. 136.  97. 127. 154. 133. 126. 202. 103. 166. 164.
 184. 124. 122.  96. 138.  88. 105. 194. 195. 106. 167.  95. 192. 117.
 121. 116.  71. 118. 181. 134.  90.  98. 176. 135. 110. 100.  87. 102.
  92.  91.  82. 119.  94. 104.  60.  83.  63.  70.  77.  72.  78.  86.
  93.  84.  80. 107.  69.  73.]

exang : [False True]

oldpeak : [ 2.3  1.5  2.6  3.5  1.4  0.8  3.6  0.6  3.1  0.4  1.3  0.   0.5  1.6
  1.   1.2  0.2  1.8  3.2  2.4  2.   2.5  2.2  2.8  3.   3.4  6.2  4.
  5.6  2.9  0.1  2.1  1.9  4.2  0.9  1.1  3.8  0.7  0.3  4.4  5.  -1.1
 -1.5 -0.1 -2.6 -0.7 -2.  -1.   1.7 -0.8 -0.5 -0.9  3.7]

hd : [0 2 1 3 4]

In [86]:
# we have nan value only in restecg
heart_clean = heart_clean[ heart_clean['restecg'].notna()]

In [87]:
heart_clean.shape

(824, 10)